<head>
    <title>Color de Fondo de la página</title>
    <style type="text/css">
        body {
            background: black;
        }
    </style>
</head>
<font size=40 color="white"> Guaflix</font>
@{
    ViewBag.Title = "CargarUsuarios";
}

@using (Html.BeginForm("CargarUsuarios", "Guaflix", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />
    </div>
}
<h2>CargarUsuarios</h2>

<div>
    @Html.ActionLink("Regresar a vista principal", "Catálogo", "Guaflix")
</div>