<head>
    <title>Color de Fondo de la página</title>
    <style type="text/css">
        body {
            background: black;
        }
    </style>
</head>
<font size=40 color="white"> Guaflix</font>
@{
    ViewBag.Title = "CatalogoUsuario";
}

<h2>CatalogoUsuario</h2>

<li>@Html.ActionLink("Listado de peliculas", "ListadoPeliculas", "Peliculas")</li>
<li>@Html.ActionLink("Listado de peliculas de sus favoritas", "ListadoPorUsuario", "Peliculas")</li>