
@{
    ViewBag.Title = "Catálogo";
}

<h2>Catálogo</h2>

@Html.ActionLink("Ingresar Peliculas Manual", "IngresoPeliculaManual", "Peliculas", new { area = "" }, new { @class = "navbar-brand" })
@Html.ActionLink("Carga de Peliculas", "CargaDePeliculas", "Peliculas", new { area = "" }, new { @class = "navbar-brand" })