
@{
    ViewBag.Title = "Catálogo";
}

<h2>Catálogo</h2>

<li>@Html.ActionLink("Ingreso Manual de Peliculas", "IngresoPeliculaManual", "Peliculas")</li>
<li>@Html.ActionLink("Carga de Peliculas", "CargaDePeliculas", "Peliculas")</li>