
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<h2>¡Usuario y contraseña incorrectos!</h2>
<div>@Html.ActionLink("Login", "Login", "Guaflix", new { area = "" }, new { @class = "navbar-brand" })</div>
