<head>
    <title>Color de Fondo de la página</title>
    <style type="text/css">
        body {
            background: black;
        }
    </style>
</head>
<font size=40 color="white"> Guaflix</font>
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<h2>¡Usuario y contraseña incorrectos!</h2>
<div>@Html.ActionLink("Login", "Login", "Guaflix", new { area = "" }, new { @class = "navbar-brand" })</div>
