<head>
    <title>Color de Fondo de la página</title>
    <style type="text/css">
        body {
            background: black;
        }
    </style>
</head>
<font size=40 color="white"> Guaflix</font>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

