
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<body>

    @using (Html.BeginForm("Login", "Guaflix", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div>
        <div class="form-horizontal">
           <label>Username</label> <input type="text" name="usuario" />
            <label>Contraseña</label><input type="password" name="contraseña" />
            <input type="submit" value="Login" />
        </div>
       


    </div>
    }
</body>